extends base_view 

block title_content 
  title CSS for Brutes 

block body_content 
  h1 CSS for Brutes
  p First off, #[a(href="http://bettermotherfuckingwebsite.com/") read this article.]
  p I believe in function over form. But even #[i more] than that, I believe in not reinventing the wheel.
  p So to that end, here is the CSS that I shamelessly lifted, in all its unminified glory:

  pre: code.
    body {
     margin: 40px auto;
     max-width: 650px;
     line-height: 1.6;
     font-size: 18px;
     color: #444;
     padding: 0 10px; 
    }
    
    h1,h2,h3 {
     line-height: 1.2
    }
      
    code {
     background-color: #eee;
     border: 1px solid #999;
     display: block;
     font-family: Consolas, "courier new";
     padding: 20px;
    }

  p Have fun and load fast.