extends base_view 

block title_content   
  title Github Actions 

block body_content 
  h1 Intro to CI/CD with Github Actions
  h3 Or: being too lazy to copy code to the server.

  p This "article" follows #[a(href="https://zellwk.com/blog/github-actions-deploy/") this article] and is implemented by #[a(href="https://github.com/urban-burgeoning/topical-island/pull/1") the very first pull request on Topical Island.]
  p (So if all goes well, it will be the first "article" "automatically" "deployed" via this Action.)

  h3 Github Actions
  p I mean, #[a(href="https://github.com/features/actions") go here] and have them put the sell on you. It's an integrated, free-ish (free for non-commercial users) set of things, which mostly seem to be focused on integrating with popular providers (AWS, etc.) rather than DIY solutions.
  p However! It does have a big stack of community plugins, so we can use those instead.
  p I used one such Community thing to rsync files across onto the server.


  h3 The Problem
  p The issue, as always, is security. The Github Action runs in an ephemeral Docker container without input.
  p So, we need to be able to access the server via SSH without interaction, so no passwords.
  p Obviously, if you know anything about computers (and I don't) the answer is easy. If you don't, you need someone to walk you through it. So, let's do that.

  ol
    li SSH onto your server and navigate to ~/.ssh.
    li Run:
      code ssh-keygen -t rsa -b 4096 -C "your_email@example.com"
      Follow the interactive prompts to create the key files. You'll have two files. One ending in .pub (the public key) and one not ending in .pub (the private key).
    li You should have a file in ~/.ssh called authorized_keys. cat the public key file (file ending in .pub) onto the file authorized_keys:
      code cat your_key_name.pub >> authorized_keys
    li Add the private key (file not ending in .pub) to secrets by going to Settings > Secrets > Actions in Github.
      img(width="100%" src="/static/" alt="A guide to locating the Secrets option in Github.")
      When doing this, ensure that the parts that start with -----START OPENSSH KEY---- and ----END OPENSSH KEY----- are also copied.
    li While you're adding secrets in that menu, you should also add one for your server's IP address.
    li Then use a template .yml file for your Github Action.

  h3 Links:
  a(href="https://zellwk.com/blog/github-actions-deploy/") The article I worked from.
  p The Github Action .yaml file from this pull request #[a(href="https://github.com/urban-burgeoning/topical-island/pull/1/files") is available here.]
  p My "live" Github Action .yaml file #[a(href="https://github.com/urban-burgeoning/topical-island/blob/main/.github/workflows/main.yml") is available here.]
  p You can find the #[a(href="https://github.com/urban-burgeoning/topical-island") most current version of Topical Island on Github.]
