extends base_view

block title_content
  title Shipwrecked on a Topical Island

block body_content
  h1 Shipwrecked on a Topical Island
  ul
    // TODO: use references to other topicalisland sites; so you can test in localhost
    li #[a(href="https://github.com/urban-burgeoning/topical-island") Github for Topical Island]
    li #[a(href="https://www.topicalisland.net/setup") Starting a Website for People Who Don't Know How]
    li #[a(href="https://www.topicalisland.net/css") CSS for Brutes]
    li #[a(href="https://www.topicalisland.net/github-actions") Github Actions and CI/CD]
